In [24]:
import pandas as pd
import numpy as np

In [25]:
import re

In [47]:
df = pd.read_csv('tweets_dataframe.csv',sep="\t")

In [27]:
for i in xrange(2000):
    
    tweet = str(df.loc[i]['text'])
    at_the_rate = re.findall(r'@\w+[" ",:]',tweet)
    write_tweet=""
    
    for each in tweet.split():
        
        if each not in at_the_rate:
            write_tweet += ' ' + each
            
    #Write the @-free text into the dataframe.
    df.replace(df.loc[i]['text'],write_tweet,inplace=True)

In [28]:
df.head()

,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated,links
0,indirect eu costing britain ¬£170 year! #bette...,31150.0,107794703,en,804,False,False,NaN
1,video: sturgeon post-election deals,0.0,557422508,en,184,False,False,http://t.co/BTJwrpbmOY
2,growing david minister today.. #bbcqt ‚Ä¶,7565.0,3006692193,en,182,False,False,http://t.co
3,ukip lothian 16 msn addy,2130.0,455154030,en,1073,False,False,http://t.co/7eIU0c5Fm1
4,ukip's spokesman rakes ¬£800k benefit migrants...,131.0,187547338,en,87,False,False,http://t.co/c1AZxcLh

In [29]:
#While doing TFIDF, I observed this error:
#/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:17: RuntimeWarning: invalid value encountered in double_scalars
#There were nan values in the IDF matrix.
#This occurred because there were only non-ascii characters in the tweet.
#This tweet was:
''' üëèüèø'''

' \xf0\x9f\x91\x8f\xf0\x9f\x8f\xbf'

In [41]:
#Let's hunt such tweets.
for i in xrange(2000):
    tweet = str(df.loc[i]['text'])
    words = re.findall(r'\w+',tweet)
    #if no words in the tweet, print it's index.
    if not words:
        print i

#Caution: Don't directly drop such rows 'inplace=True'
#otherwise it creates IndexError e.g. index may go from 1728 to 1730 direcly.

1729