In [1]:
import pandas as pd

In [2]:
import numpy as np
import re

In [36]:
df = pd.read_csv('tweets_dataframe.csv',sep='\t')

In [37]:
df.head()

,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated,links
0,indirect eu costing britain ¬£170 year! #bette...,31150.0,107794703,en,804,False,False,NaN
1,video: sturgeon post-election deals,0.0,557422508,en,184,False,False,http://t.co/BTJwrpbmOY
2,growing david minister today.. #bbcqt ‚Ä¶,7565.0,3006692193,en,182,False,False,http://t.co
3,ukip lothian 16 msn addy,2130.0,455154030,en,1073,False,False,http://t.co/7eIU0c5Fm1
4,ukip's spokesman rakes ¬£800k benefit migrants...,131.0,187547338,en,87,False,False,http://t.co/c1AZxcLh

In [38]:
from collections import defaultdict
#wdict is the dictionary used to note the occurence of a particular words in several tweets.
wdict = defaultdict(lambda: [])

for i in xrange(2000):
    tweet = str(df.loc[i]['text'])
    for each in tweet.split():
        words = re.findall(r'\w+',each)
        for word in words:
            wdict[word].append(i)
            
print "Word in Tweet  ||", "Tweet Nos."

for i,each in enumerate(wdict.keys()):
    if i<100:
        print each,wdict[each] #Printing only 100 words.

#This tweet has no words. It raises a warning when we do TFIDF, because Nj becomes zero.
print df.loc[1729]['text']

Word in Tweet  || Tweet Nos.
suicidal [1530]
vermin [1806]
desirable [710]
skynews [387, 469, 856, 889]
yellow [186]
knell [403]
controversial [951]
hanging [11, 260]
captain [1506]
integrity [855]
dunleavy138 [16, 766]
votes [1807, 1920]
voter [436]
fuckwits [728]
poorest [957]
disability [1157, 1481, 1696]
xx [1698, 1770]
james [1947]
maudling [1068, 1649, 1659]
worstgovever [540]
whatsoever [331]
caused [923, 1053, 1177, 1180, 1218, 1829]
lord [343]
sorry [297, 903]
editorship [468]
playground [340]
mancman10 [985, 1820]
risk [499, 502, 591, 987, 1200, 1239]
neud [802, 1542]
labourites [1407, 1996]
aurora [1637]
semi [1680]
eugenics [1788]
dels [602]
holyrood [338, 766]
govern [454, 519, 694, 806, 925, 1029, 1658]
bringing [32, 139, 1214]
trade [1661]
prize [1017, 1198, 1378, 1812, 1898]
ref [1226, 1442, 1613]
vitriolic [850, 1019]
unrelated [7, 19, 164, 185, 194, 334, 368, 370, 427, 491, 537, 659, 735, 866, 922, 1028, 1063, 1110, 1147, 1152, 1194, 1238, 1499, 1525, 1611, 1716, 1819, 1919]
theysay [1261]
bettertogether [474, 1402]
heading [329, 557, 840]
swoons [1161]
leaders [93, 202, 373, 584, 777, 927, 1473, 1787, 1908]
nigh [938]
punning [350, 986]
270 [1557]
likely [144, 1401]
street [515, 884, 1571, 1635]
275 [898]
iraq [1409]
7th [364, 464, 693, 889, 1169, 1582, 1726]
y0deex [795]
even [463, 1639]
neo [559]
alun_pugh [802, 1542]
presentational [901, 1098, 1434, 1458, 1785]
fingers [586, 1727]
poison [1948]
spokesman [4, 66, 570, 676, 1311, 1565]
hull [1795]
scottishlabour [152, 181, 318, 448, 1045, 1712, 1736, 1974]
new [385, 1046, 1283, 1644]
fall [720, 1355, 1747, 1970]
ever [273, 296, 626]
xa1mbst8nx [687]
told [590]
pkukpoll [469, 856]
kennypieper [1988, 1992]
misjudged [1134]
chrissalmon [1837]
davidpattie [1187]
never [804, 1334]
ed_milliband [870, 1029, 1658]
richest [748]
here [7, 19, 71, 72, 74, 164, 185, 189, 194, 201, 334, 368, 370, 391, 427, 491, 500, 537, 659, 668, 735, 866, 922, 1028, 1063, 1110, 1147, 1152, 1194, 1238, 1499, 1525, 1611, 1636, 1716, 1819, 1840, 1919, 1933]
lurves [1913]
jubbly [563, 953]
becm [97]
dorm [180]
100 [82, 115, 258, 348, 1217, 1278, 1578, 1614]
celebration [31, 1547]
dry [1126]
culling [649]
rests [423, 423, 1391, 1391, 1995, 1995]
muddying [95]
k [400]
johngemmell40 [1426]
stipulates [1175]
reports [1797]
farageforever [88]
bbcone [483, 666, 1010, 1103, 1656]
reactivates [994]
deaths [1376]
unio [1470]
campaign [433, 653, 1485, 1536]
straw [1612]
 üëèüèø

In [39]:
print "Number of unique words in dataset:", len(wdict.keys())
print "The 100 most frequent words and their frequencies in the dataset:"

sorted_words = sorted(wdict.keys(), key=lambda k: len(wdict[k]),reverse=True)

for ind in xrange(100):
    print sorted_words[ind],len(wdict[sorted_words[ind]])

Number of unique words in dataset: 3240
The 100 most frequent words and their frequencies in the dataset:
miliband 658
snp 613
s 552
tories 363
t 358
labour 318
bbcqt 313
ukip 254
tory 236
david 205
http 202
1 197
lab 129
i 121
it 118
amp 118
ge2015 112
cameron 111
scotland 102
he 99
poll 91
co 90
leader 88
con 86
tonight 84
m 82
milliband 76
5 76
sturgeon 74
8 72
d 70
ft 66
34 66
don 65
ed_miliband 65
grn 60
yougov 59
nicola 59
scottish 59
35 59
12 58
farage 55
bbc 53
won 47
election 46
benefit 46
ll 46
coalition 44
eu 42
clegg 41
here 39
backing 39
30 39
gov 38
govt 38
ldem 38
29 37
you 35
votesnp 35
can 34
sun 34
england 34
jimforscotland 33
re 33
apr 33
nigel 32
that 32
we 31
note 31
rule 31
boris 30
guardian 29
deals 29
there 29
unrelated 28
ford 28
ed 28
doesn 28
next 28
jonathan 28
faces 27
scots 27
clear 27
him 27
stage 27
cuts 26
questions 26
let 26
westminster 25
grilled 24
w 24
they 23
prefers 23
uk 23
nhs 22
uklabour 22
to 21
power 21
page 21
lib 20

In [40]:
len(wdict.keys()) #No. of unique words without stemming.

3240

In [41]:
from nltk.stem.snowball import SnowballStemmer
engstemmer = SnowballStemmer('english')

In [42]:
#Let's examine the benefits of stemming now. We earlier showed that 3240 unique words are present in tweets.

wset = set() 

for i in xrange(2000):
    tweet = str(df.loc[i]['text'])
    for each in tweet.split():
        words = re.findall(r'\w+',each)
        for word in words:
            wset.add(engstemmer.stem(word))

print len(wset) #The no. of unique words, after stemming is, 15497. So, stemming helps!

2934

In [43]:
#Let's calculate unique words and their frequencies without making stemming permanent in the csv file. 
#We assign a new object to the wdict dictionary we created before-stemming in this notebook.

#wdict is the dictionary used to note the occurence of a particular unique word in several tweets.
wdict = defaultdict(lambda: [])

for i in xrange(2000):
    tweet = str(df.loc[i]['text'])
    
    for each in tweet.split():
        words = re.findall(r'\w+',each)
        
        for word in words:
            wdict[engstemmer.stem(word)].append(i) 

print "Number of unique words in dataset:", len(wdict.keys())
print "The 100 most frequent words in the dataset:"

sorted_words = sorted(wdict.keys(), key=lambda k: len(wdict[k]),reverse=True)

for index in xrange(100):
    print sorted_words[index],len(wdict[sorted_words[index]]) 
#Note that the frequencies are better calculated with stemming.
#More importantly, whole order is reshuffled, e.g: 'tori' i.e. stem('tories').

Number of unique words in dataset: 2934
The 100 most frequent words in the dataset:
miliband 658
snp 613
tori 601
s 552
t 358
labour 319
bbcqt 313
ukip 255
david 205
http 202
1 197
lab 130
i 121
it 118
amp 118
ge2015 112
cameron 112
scotland 103
poll 101
he 99
leader 97
co 90
con 87
tonight 84
m 82
milliband 77
5 76
sturgeon 74
8 72
d 70
ft 66
34 66
don 65
ed_miliband 65
benefit 61
grn 60
yougov 59
nicola 59
scottish 59
35 59
12 58
farag 55
bbc 53
deal 50
coalit 49
rule 48
won 47
elect 46
back 46
ll 46
eu 42
clegg 41
here 39
30 39
gov 38
govt 38
ldem 38
grill 37
29 37
you 35
sun 35
votesnp 35
can 34
england 34
let 34
jimforscotland 33
re 33
note 33
apr 33
nigel 32
that 32
we 31
question 31
face 31
bori 30
scot 30
guardian 29
confirm 29
cut 29
there 29
ford 28
unrel 28
ed 28
clear 28
doesn 28
next 28
jonathan 28
parti 28
govern 27
seat 27
him 27
stage 27
prefer 26
power 26
trip 25
westminst 25
w 24
they 23
uk 23
nhs 22

In [44]:
word_matrix = np.zeros((len(wdict.keys()),2000)) #our matrix is no. of unique words * no. of tweets in size.

for index,word in enumerate(wdict.keys()):
    for tweetno in wdict[word]:
        word_matrix[index,tweetno] += 1

print word_matrix

[[ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]]

In [12]:
#We use sorted_words instead of wdict.keys() to reflect frequency of use of that word.
#i.e. we save the words in order of their decreasing frequency in the dataset.
df2 = pd.DataFrame(0,index=sorted_words,columns=xrange(2000))

In [13]:
for word in sorted_words:
    for tweetno in wdict[word]:
        df2.ix[word,tweetno] +=1

In [14]:
df2.index.name = 'WORDS In Tweets\Tweet No.'

In [15]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
WORDS In Tweets\Tweet No.,,,,,,,,,,,,,,,,,,,,,
miliband,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
snp,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,2
tori,0,0,0,0,0,0,0,1,0,0,...,0,2,0,0,1,1,1,0,1,1
s,0,0,0,0,1,0,0,1,1,1,...,0,1,0,0,0,1,1,0,0,0
t,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [16]:
df2.to_csv('wordmatrix.csv')

In [17]:
df2 = pd.read_csv('wordmatrix.csv',index_col=0)

In [18]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
WORDS In Tweets\Tweet No.,,,,,,,,,,,,,,,,,,,,,
miliband,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
snp,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,2
tori,0,0,0,0,0,0,0,1,0,0,...,0,2,0,0,1,1,1,0,1,1
s,0,0,0,0,1,0,0,1,1,1,...,0,1,0,0,0,1,1,0,0,0
t,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0