In [5]:
import pandas as pd

In [7]:
df = pd.read_csv('tweets_dataframe.csv',sep='\t')

In [81]:
df.head()

,id,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,593891099434983425,RT @KirkKus: Indirect cost of the UK being in ...,31150,107794703,en,804,False,False
1,593891099548094465,VIDEO: Sturgeon on post-election deals http://...,0,557422508,en,184,False,False
2,593891099388846080,RT @LabourEoin: The economy was growing 3 time...,7565,3006692193,en,182,False,False
3,593891100429045760,RT @GregLauder: the UKIP east lothian candidat...,2130,455154030,en,1073,False,False
4,593891100768784384,RT @thesundaypeople: UKIP's housing spokesman ...,131,187547338,en,87,False,False

In [82]:
df['text'][0]

'RT @KirkKus: Indirect cost of the UK being in the EU is estimated to be costing Britain \xc2\xa3170 billion per year! #BetterOffOut #UKIP'

In [8]:
from nltk.corpus import stopwords

In [9]:
stopwords = set(stopwords.words('english'))

In [10]:
import os

In [11]:
os.getcwd()

'/home/mradul/2projectdaddy/data_project/project/twitter-files'

In [12]:
stopwords_path = os.getcwd() + '/stopwords'

In [13]:
import re
for each in os.listdir(stopwords_path):
    each = stopwords_path + '/' + each
    with open(each,'r') as f:
        for line in f:
            for word in re.findall(r'\w+', line):
                stopwords.add(word) #We want all stopwords, in the set we made earlier.

In [14]:
len(stopwords) #This is interesting. The /stopwords directory has 38517 unique stopwords(focused at twitter). 
#The nltk.corpus stopwords had only 5 words which weren't there in the directory.

38522

In [90]:
df.drop('id',axis=1).head()  #axis=1 refers to the vertical columns.

,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,RT @KirkKus: Indirect cost of the UK being in ...,31150,107794703,en,804,False,False
1,VIDEO: Sturgeon on post-election deals http://...,0,557422508,en,184,False,False
2,RT @LabourEoin: The economy was growing 3 time...,7565,3006692193,en,182,False,False
3,RT @GregLauder: the UKIP east lothian candidat...,2130,455154030,en,1073,False,False
4,RT @thesundaypeople: UKIP's housing spokesman ...,131,187547338,en,87,False,False

In [91]:
df.head() #Not in-plcae i.e original df no affected by drop().

,id,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,593891099434983425,RT @KirkKus: Indirect cost of the UK being in ...,31150,107794703,en,804,False,False
1,593891099548094465,VIDEO: Sturgeon on post-election deals http://...,0,557422508,en,184,False,False
2,593891099388846080,RT @LabourEoin: The economy was growing 3 time...,7565,3006692193,en,182,False,False
3,593891100429045760,RT @GregLauder: the UKIP east lothian candidat...,2130,455154030,en,1073,False,False
4,593891100768784384,RT @thesundaypeople: UKIP's housing spokesman ...,131,187547338,en,87,False,False

In [92]:
df.drop('id',axis=1,inplace=True)

In [93]:
df.head() #Original Dataframe changed.

,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,RT @KirkKus: Indirect cost of the UK being in ...,31150,107794703,en,804,False,False
1,VIDEO: Sturgeon on post-election deals http://...,0,557422508,en,184,False,False
2,RT @LabourEoin: The economy was growing 3 time...,7565,3006692193,en,182,False,False
3,RT @GregLauder: the UKIP east lothian candidat...,2130,455154030,en,1073,False,False
4,RT @thesundaypeople: UKIP's housing spokesman ...,131,187547338,en,87,False,False

In [94]:
df.loc[0]

text                     RT @KirkKus: Indirect cost of the UK being in ...
user.favourites_count                                                31150
user.id                                                          107794703
lang                                                                    en
user.followers_count                                                   804
user.verified                                                        False
truncated                                                            False
Name: 0, dtype: object

In [95]:
import numpy as np
df['links'] = np.nan   #Adding new column for urls present in the tweets.

In [96]:
for i in xrange(2000):
    tweet = df.loc[i]['text']
    tweet = tweet.split()
    write_tweet = ""
    #urls present in the tweet.
    urls = []
    for each in tweet:
        if each not in stopwords:
            write_tweet += ' ' + each
    #url for the tweet saved in the corresponding column.
    urls = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', write_tweet)
    for url in urls:
        #print url
        df.loc[i,('links')] = url

In [97]:
df.head()

,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated,links
0,RT @KirkKus: Indirect cost of the UK being in ...,31150,107794703,en,804,False,False,NaN
1,VIDEO: Sturgeon on post-election deals http://...,0,557422508,en,184,False,False,http://t.co/BTJwrpbmOY
2,RT @LabourEoin: The economy was growing 3 time...,7565,3006692193,en,182,False,False,http://t.co
3,RT @GregLauder: the UKIP east lothian candidat...,2130,455154030,en,1073,False,False,http://t.co/7eIU0c5Fm1
4,RT @thesundaypeople: UKIP's housing spokesman ...,131,187547338,en,87,False,False,http://t.co/c1AZxcLh

In [98]:
from collections import Counter

In [99]:
Counter(" ".join(df["text"]).split()).most_common(100)

[('RT', 13500),
 ('the', 10444),
 ('to', 7472),
 ('a', 5778),
 ('of', 5525),
 ('in', 5042),
 ('Miliband', 4609),
 ('is', 4323),
 ('with', 3581),
 ('Tories', 3403),
 ('and', 3338),
 ('on', 3215),
 ('SNP', 2864),
 ('for', 2584),
 ('Ed', 2538),
 ('I', 2291),
 ('that', 2137),
 ('Labour', 2086),
 ('Cameron', 2028),
 ('#bbcqt', 2025),
 ('will', 1977),
 ('-', 1968),
 ('it', 1939),
 ('than', 1918),
 ('you', 1883),
 ('The', 1849),
 ('not', 1700),
 ('David', 1661),
 ('out', 1621),
 ('he', 1608),
 ('have', 1522),
 ('rather', 1519),
 ('be', 1416),
 ('Farage', 1370),
 ('are', 1362),
 ('Tory', 1339),
 ('UKIP', 1252),
 ('would', 1226),
 ('was', 1183),
 ('if', 1171),
 ('who', 1160),
 ('let', 1127),
 ('as', 1122),
 ('#AskNigelFarage', 1104),
 ('we', 1080),
 ('deal', 1055),
 ('&amp;', 1055),
 ('If', 1054),
 ('has', 1045),
 ('vote', 1030),
 ('work', 1013),
 ('do', 1007),
 ('by', 999),
 ('just', 989),
 ('they', 949),
 ('but', 927),
 ('his', 917),
 ('support', 914),
 ('all', 913),
 ('from', 879),
 ('about', 867),
 ('#UKIP', 866),
 ('Nigel', 864),
 ('going', 792),
 ('Clegg', 784),
 ('no', 772),
 ('claiming', 772),
 ('says', 767),
 ('\xe2\x80\xa6', 760),
 ('come', 750),
 ('man', 745),
 ('people', 738),
 ('an', 716),
 ('http:/\xe2\x80\xa6', 702),
 ('more', 681),
 ('this', 666),
 ('need', 665),
 ('SNP,', 663),
 ('leader', 663),
 ('w/', 653),
 ('MPs', 646),
 ('at', 637),
 ('wrote', 636),
 ('like', 635),
 ('"preoccupied', 634),
 ('so', 623),
 ('inequality".', 622),
 ('@Tommy_Colc:', 622),
 ('up', 620),
 ("I'm", 614),
 ('want', 613),
 ('#GE2015', 611),
 ('over', 605),
 ('what', 604),
 ('get', 601),
 ('or', 588),
 ('Scotland', 583),
 ('can', 578),
 ('#SNP', 549),
 ('Times', 509)]

In [100]:
#Adding new stopwords after analyzing the 100 most frequently used words/punctuations used in the dataset.
for each in ['rt','lolz','.',';',"'",'"',"i've",'the','to','a','of','in','on','is','and','i','-']:
    stopwords.add(each)

In [15]:
#Convert whole text to lower case run the Stopwrods removal again. Should have done it earlier. I added it later.
for i in xrange(2000):
    tweet = df.loc[i]['text'].lower()
    #Write the lowercase text into the dataframe.
    df.replace(df.loc[i]['text'],tweet,inplace=True)

In [16]:
for i in xrange(2000):
    tweet = df.loc[i]['text']
    tweet = tweet.split()
    write_tweet = ""
    for each in tweet:
        if each not in stopwords:
            write_tweet += ' ' + each
    #Write the stopword-free text into the dataframe.
    df.replace(df.loc[i]['text'],write_tweet,inplace=True)

In [17]:
df.head()

,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated,links
0,@kirkkus: indirect eu costing britain £170 ye...,31150.0,107794703,en,804,False,False,NaN
1,video: sturgeon post-election deals,0.0,557422508,en,184,False,False,http://t.co/BTJwrpbmOY
2,@laboureoin: growing david minister today.. #...,7565.0,3006692193,en,182,False,False,http://t.co
3,@greglauder: ukip lothian 16 msn addy,2130.0,455154030,en,1073,False,False,http://t.co/7eIU0c5Fm1
4,@thesundaypeople: ukip's spokesman rakes £800...,131.0,187547338,en,87,False,False,http://t.co/c1AZxcLh

In [18]:
df.to_csv('tweets_dataframe.csv', sep='\t',index_label=False)

In [19]:
data = pd.read_csv('tweets_dataframe.csv', sep='\t') #index_label=False to avoid Unnamed columns.

In [20]:
data.head()

,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated,links
0,@kirkkus: indirect eu costing britain £170 ye...,31150.0,107794703,en,804,False,False,NaN
1,video: sturgeon post-election deals,0.0,557422508,en,184,False,False,http://t.co/BTJwrpbmOY
2,@laboureoin: growing david minister today.. #...,7565.0,3006692193,en,182,False,False,http://t.co
3,@greglauder: ukip lothian 16 msn addy,2130.0,455154030,en,1073,False,False,http://t.co/7eIU0c5Fm1
4,@thesundaypeople: ukip's spokesman rakes £800...,131.0,187547338,en,87,False,False,http://t.co/c1AZxcLh

In [111]:
data['text'] = data['text'].replace(to_replace=r'\b'+data['links']+r'\b', value='',regex=True)

In [113]:
data.to_csv('tweets_dataframe.csv', sep='\t',index_label=False) #Remove links present in tweet texts.