In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('tweets_dataframe.csv')

In [28]:
df.head()

,id,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,593891099434983425,RT @KirkKus: Indirect cost of the UK being in ...,31150,107794703,en,804,False,False
1,593891099548094465,VIDEO: Sturgeon on post-election deals http://...,0,557422508,en,184,False,False
2,593891099388846080,RT @LabourEoin: The economy was growing 3 time...,7565,3006692193,en,182,False,False
3,593891100429045760,RT @GregLauder: the UKIP east lothian candidat...,2130,455154030,en,1073,False,False
4,593891100768784384,RT @thesundaypeople: UKIP's housing spokesman ...,131,187547338,en,87,False,False

In [11]:
df['text'][0]

'RT @KirkKus: Indirect cost of the UK being in the EU is estimated to be costing Britain \xc2\xa3170 billion per year! #BetterOffOut #UKIP'

In [7]:
from nltk.corpus import stopwords

In [12]:
stopwords = set(stopwords.words('english'))

In [14]:
import os

In [15]:
os.getcwd()

'/home/mradul/2projectdaddy/data_project/project/twitter-files'

In [20]:
stopwords_path = os.getcwd() + '/stopwords'

In [22]:
for each in os.listdir(stopwords_path):
    each = stopwords_path + '/' + each
    with open(each,'r') as f:
        for line in f:
            for word in re.findall(r'\w+', line):
                stopwords.add(word) #We want all stopwords, in the set we made earlier.

In [27]:
len(stopwords) #This is interesting. The /stopwords directory has 38517 unique stopwords(focused at twitter). 
#The nltk.corpus stopwords had only 5 words which weren't there in the directory.

38522