In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('wordmatrix.csv',index_col=0)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
WORDS In Tweets\Tweet No.,,,,,,,,,,,,,,,,,,,,,
miliband,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
snp,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,2
tori,0,0,0,0,0,0,0,1,0,0,...,0,2,0,0,1,1,1,0,1,1
s,0,0,0,0,1,0,0,1,1,1,...,0,1,0,0,0,1,1,0,0,0
t,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
word_matrix = df.as_matrix()

In [5]:
word_matrix

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 2],
       [0, 0, 0, ..., 0, 1, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [9]:
type(_)

type

In [15]:
word_matrix.shape

(2934, 2000)

In [12]:
#TFIDF Calculation:
'''TFIDF[i,j] = ( Ni,j / N*,j ) * log( D / Di )'''
#Ni,j = the number of times word i appears in document j (the original cell count).
#N*,j = the number of total words in document j (just add the counts in column j).
#D = the number of documents (the number of columns).
#Di = the number of documents in which word i appears (the number of non-zero columns in row i).

#TFIDF can be used directly from the library sckit-learn.
#from sklearn.feature_extraction.text import TfidfVectorizer

'TFIDF[i,j] = ( Ni,j / N*,j ) * log( D / Di )'

In [16]:
#By observing the formula we can say that, we need to check the range of Nj,Di(In case their value is 0.)
#Also D/Di should not be zero, but D will never be 0.

from math import log

D = 2000 #Number of tweets will remain constant.

trans_word_matrix = word_matrix.T
sum_list = []
for each in trans_word_matrix:
    sum_list.append(sum(each))
    
#This tweet has Nj as 0 i.e. No. Of Words in this tweet = 0.
print sum_list[1729]

for row in xrange(2934):
    #The no. of tweets in which the word appears i.e. non-zero elem in the row. => Can't be 0.
    Di = np.count_nonzero(word_matrix[row])
    
    for col in xrange(2000):
        #Value at the point.
        Nij = word_matrix[row,col]
        #Total No. of words in a tweet. => Can be 0.
        Nj = sum_list[col]
        #Calculating the value only if Nj is non-zero, otherwise let zero remain.
        if Nj:
            word_matrix[row,col] = (Nij/Nj) * log(D/Di)

0

In [18]:
#Now the whole column of the tweet no. 1729 will have 0 value rather than NULL values.
for each in xrange(10):
    print word_matrix[each][1729]

0
0
0
0
0
0
0
0
0
0